<body>
    <h2>Résultats de la recherche</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Date de création</th>
        </tr>
        {% if not data %}
                <p class="error">{{ error_message }}</p>
        {% elif data %}
           
            <tr>
                <td>{{ data['nom'] }}</td>
                <td>{{ data['nom'] }}</td>
                <td>{{ data['prenom'] }}</td>
                <td>{{ data['adresse'] }}</td>
                <td>{{ data['created'] }}</td>
            </tr>
          
         {% endif %}
    </table>
</body>
